.navbar-light {
  background-color: #BFEFFF;
}





body {
  background-image: url(https://www.chromethemer.com/download/hd-wallpapers/coffee-beans-3840x2160.jpg);
  color: rgb(88, 81, 90);
  font-family: arial, sans-serif;
  margin: 0px;
  min-width: 100%;
  /* max-width: 100%; */
  min-height: 700px;
}

div {
  text-align: left;
  min-height: 20vh;
  /* width: 100vw; */
}

.row {
  display: flex;

}

div.container {
  padding: 10px 30px 10px 30px;
  margin: 10px auto;
  border-radius: 6px;
}

div.left {
  width: 47%;
  margin-left: 0;
  margin-right: 3%;
  background-color: #FFF7DB;
}

div.left p {
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

div.right {
  width: 47%%;
  padding-left: 2rem;
  margin-left: 1%;
  background-color: #FFF7DB;
}

div.right ul {
  margin-top: 5%;
  margin-left: 5%;
}


div.heading h1 {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  color: #ffffff;
 }

 div.heading{
   background-color: #361a04;
   margin-left: 400px;
   margin-right: 400px;
   margin-top: 50px;
   border: 1px;
   border-radius: 50px;
 }

img {
  display: flex;
  padding: 0px;
  margin: auto;
  border-radius: 30px;
}

p {
  font-family: "Lucida Bright", Georgia, serif;
  width: 40%;
  margin: 0 auto;
  font-size: 1.5em;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

div.contrast {
  background-color: rgb(254, 242, 214);
  color: rgb(232,147,246);
  padding-right: 30px;
}

div.contrast {
  ...
}

ul {
  font-size: 1.5em;
  font-family: "Lucida Bright", Georgia, serif;
  list-style-type:square;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  line-height: 50px;
}

ul li {
  padding: 0px;
  margin: 20px
  transition: 0.6s ease;
}
