.navbar-light {
  background-color: #BFEFFF;
}

body {
  background-image: url(https://www.chromethemer.com/download/hd-wallpapers/coffee-beans-3840x2160.jpg);
  color: rgb(88, 81, 90);
  font-family: arial, sans-serif;
  margin: 0px;
  min-width: 100%;
  /* max-width: 100%; */
  min-height: 700px;
}

div {
  text-align: left;
  min-height: 20vh;
  /* width: 100vw; */
}

.row {
  display: flex;
}

div.container {
  padding: 10px 30px 10px 30px;
  margin: 10px auto;
  border-radius: 6px;
}

div.left {
  margin-left: 0;
  margin-right: 3%;
  background-color: #FFF7DB;
}

div.left p {
  font-family: "Lucida Bright", Georgia, serif;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.right {
  padding-left: 2rem;
  margin-left: 1%;
  background-color: #FFF7DB;
}

div.right ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
}

img {
  display: flex;
  padding: 0px;
  margin: auto;
  border-radius: 30px;
}

p {
  font-family: "Lucida Bright", Georgia, serif;
  width: 40%;
  margin: 0 auto;
  font-size: 1.5em;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

div.contrast {
  background-color: rgb(254, 242, 214);
  color: rgb(232,147,246);
  padding-right: 30px;
}

div.contrast {
  ...
}

ul {
  font-size: 1.5em;
  font-family: "Lucida Bright", Georgia, serif;
  list-style-type: square;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  line-height: 50px;
}

ul li {
  padding: 0px;
  margin: 20px
  transition: 0.6s ease;
}

/* Surprise me page CSS */

h2 {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}

div.heading{
   background-color: #361a04;
   opacity: 0.8;
   color: #ffffff;
   margin-left: 400px;
   margin-right: 400px;
   margin-top: 50px;
   margin-bottom: 20px;
   border: 1px;
   border-radius: 40px;
 }

/* #rotator img:hover {
display: none;
} */

/* spinning coffees css */
@keyframes image-spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#rotator img {
  -webkit-animation: image-spin 5s infinite; /* Safari 4+ */
  -moz-animation: image-spin 5s infinite; /* Fx 5+ */
  -o-animation: image-spin 5s infinite; /* Opera 12+ */
  animation: image-spin 5s infinite; /* IE 10+, Fx 29+ */
  border-radius: 50%;
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -o-transition: all 3s linear;
  -ms-transition: all 3s linear;
}

.spinner {
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  height: 30em;
  width: 30em;
  object-fit: cover;
}

/*contact us form*/
input[type=text], select, textarea {
  font-family: "Lucida Bright", Georgia, serif;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

label {
  color: #ffffff;
  font-family: "Lucida Bright", Georgia, serif;
}

/*submit button*/
input[type=submit] {
  font-family: "Lucida Bright", Georgia, serif;
  color: #ffffff;
  background-color: #361a04;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  input[type=submit]:hover {
  background-color: #b89251;
 }

 /*contact us form*/
 form {
   margin-left: 200px;
   margin-right: 200px;
   margin-bottom: 100px;
 }


/*footer*/
div.card-footer {
  left: 0;
  bottom: 10;
  width: 100%;
  min-width: 100%;
  background-color: #361a04;
  text-align: center;
  min-height: 10em;
}

.card-footer p{
  font-family: "Lucida Bright", Georgia, serif;
  color: #ffffff;
  font-size: 1.5em;
}

div.class {
  border-radius: 5px;
  background-color: #;
  padding: 20px;
bottom: 0;
position: relative;

}

div.map {
  position: relative;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 80%;
    background-color:#FFF7DB;
    text-align: center;
    margin: 10px auto;
    border-radius: 6px;
    border-color:#8B4513;
    border-radius:10px;
    padding: 0.2em;
    font-family: "Lucida Bright", Georgia, serif;

}
