/*Nav bar css*/


/*page body css*/
body {
  color: brown;
  background-color: #E2C1A5;
  background-image: url(https://www.chromethemer.com/download/hd-wallpapers/coffee-beans-3840x2160.jpg)
}

div {
  min-height: 20em;
}

.collapse {
  min-height: 0.5em;
}

h1 {
font-family: "Lucida Bright", Georgia, serif;
margin: 15px;
text-align: center;
font-size: 5em;
border-style: 0.5px;
border-style: solid;
border-color:#6E3F16;
border-radius:10px;
padding: 0.2em;
background-color: #D8C0A8;
color: #41250B;
}

h2 {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 10px;
  font-size: 1.5em;
  border-style: 0.5px;
  border-style: solid;
  border-color:#6E3F16;
  border-radius:5px;
  padding: 0.1em;
  background-color: #D8C0A8;
  color: #41250B;

}

/* Homepage image layout */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.americano, .latte, .cappuccino, .espresso, .mocha, .surprise {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.americano {
  grid-column: 1;
  grid-row: 1;
}

.latte {
  grid-column: 2;
  grid-row: 1;
}

.cappuccino {
  grid-column: 3;
  grid-row: 1;
}

.espresso {
  grid-column: 1;
  grid-row: 2;
}

.mocha {
  grid-column: 2;
  grid-row: 2;
}

.surprise {
  grid-column: 3;
  grid-row: 2;
}

img.logo {
  height: 5em;
  border: none;
  border-radius: 30px;
}

img {
  padding: 0px;
  margin: 0 auto;
  border-radius: 5em;
  height: 10em;
  object-fit: cover;
  border-color:#6E3F16;
  border-style: solid;
}

.contact-us {
  text-align: center;
  border-style: 0.5px;
  border-style:solid;
  border-color:#6E3F16;
  border-radius:10px;
  padding: 0.2em;
  background-color: #D8C0A8;
  color: #41250B;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
}

.contact-us p {
  margin: 20px;
  font-size: 1em;
}

.a-button, .e-button, .c-button, .s-button, .m-button, .l-button, .submit-email {
  background-color: #D8C0A8;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-family: "Lucida Bright", Georgia, serif;
  border-style: 0.5px;
  border-style: solid;
  border-color:#6E3F16;
  border-radius:10px;
}

.a-button:hover, .e-button:hover, .c-button:hover, .s-button:hover, .m-button:hover, .l-button:hover, .submit-email:hover{
  color: #ffffff;
  text-decoration: none;
}

a {
  text-decoration: none;
  color:#41250B;
  text-transform: uppercase;
}

p {
  font-family: "Lucida Bright", Georgia, serif;
  color: #41250B;
}

ul {
  font-size: 1.5em;
  font-family: "Lucida Bright", Georgia, serif;
  list-style-type:square;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  line-height: 50px;
}

div.contact-button {
  font-family: "Lucida Bright", Georgia, serif;
  color: #41250B;
  font-size: 1.5em;
  margin-bottom: 0%;
  text-align: center;
  background-color: #D8C0A8;
  border: none;
  padding: 0%;
  text-decoration: none;
  border-radius: 100%;
  margin: 0%;
}

a.contact-button {
  margin: 20px;
  padding: 20px;
  font-family: "Lucida Bright", Georgia, serif;
  color: #41250B;
}

.contact-button:hover {
  color: #ffffff;
  text-decoration: none;
}

/*footer*/
.card-footer {
  left: 0;
  bottom: 10;
  width: 100%;
  background-color: #361a04;
  text-align: center;
  min-height: 10em;
}

.card-footer p{
  color: #ffffff;
  font-size: 1.5em;
}
