body {
  color: brown;
  background-color: #E2C1A5;
  font-family: "Lucida Bright", Georgia, serif;
  margin: 0px;
}

div {
  min-height: 20em;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.americano, .latte, .cappuccino, .espresso, .mocha, .surprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.americano {
  grid-column: 1;
  grid-row: 1;
}

.latte {
  grid-column: 2;
  grid-row: 1;
}

.cappuccino {
  grid-column: 3;
  grid-row: 1;
}

.espresso {
  grid-column: 1;
  grid-row: 2;
}

.mocha {
  grid-column: 2;
  grid-row: 2;
}

.surprise {
  grid-column: 3;
  grid-row: 2;
}

img {
  padding: 20px;
  margin: 0 auto;
  border-radius: 5em;
  height: 10em;
  object-fit: cover;
}

.contact-us {
  text-align: center;
}

.a-button, .e-button, .c-button, .s-button, .m-button, .l-button, .submit-email {
  background-color: brown;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-family: "Lucida Bright", Georgia, serif;
}
