/*Nav bar css*/


/*page body css*/
body {
  color: brown;
  background-color: #E2C1A5;
}

h1 {
  font-family: "Lucida Bright", Georgia, serif;
  margin: 15px;
  text-align: center;
  font-size: 5em;
}

div {
  min-height: 20em;
}

.collapse {
  min-height: 0.5em;
}

h2 {
  text-align: center;
  margin: auto;
    width: 70%;
    padding: 10px;
    font-size: 1.5em;
}

h1 {
<p style="border:0.5px";
border-style:solid;
border-color:#6E3F16;
border-radius:10px;
padding: 0.2em;
background-color: #D8C0A8;
color: #41250B;
}

h2 {
  <p style="border:0.5px";
  border-style:solid;
  border-color:#6E3F16;
  border-radius:5px;
  padding: 0.1em;
  background-color: #D8C0A8;
  color: #41250B;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.americano, .latte, .cappuccino, .espresso, .mocha, .surprise {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.americano {
  grid-column: 1;
  grid-row: 1;
}

.latte {
  grid-column: 2;
  grid-row: 1;
}

.cappuccino {
  grid-column: 3;
  grid-row: 1;
}

.espresso {
  grid-column: 1;
  grid-row: 2;
}

.mocha {
  grid-column: 2;
  grid-row: 2;
}

.surprise {
  grid-column: 3;
  grid-row: 2;
}

img.logo {
  height: 5em;
  border: none;
  border-radius: 30px;
}

img {
  padding: 20px;
  margin: 0 auto;
  border-radius: 5em;
  height: 10em;
  
}


.contact-us {
  text-align: center;
}

.a-button, .e-button, .c-button, .s-button, .m-button, .l-button, .submit-email {
  background-color: brown;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-family: "Lucida Bright", Georgia, serif;
}

a
{
  text-decoration: none;
  color:#FFFAFA
}

p {
  font-family: "Lucida Bright", Georgia, serif;
  color: #41250B;
  
}

ul {
  font-size: 1.5em;
  font-family: "Lucida Bright", Georgia, serif;
  list-style-type:square;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  line-height: 50px;
}
